* { box-sizing: border-box; }
html, body, #root { 
  min-height: 100vh; 
  margin: 0; 
  width:100%; 
}

div,
html,
body,
#root,
nav,
main,
header,
hgroup,
footer,
section,
article {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

*:focus {
  outline:none;
}